@import "../../../styles/variables";

.footer {
  background: $color-secondary;
  color: $color-base;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 0;
    max-width: 121rem;
    margin: 0 auto;

    &__content {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: auto;
      padding-top: 1.6rem;
      grid-row-gap: 1.6rem;
      grid-column-gap: 1.6rem;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      flex: 1;

      &__logo {
        h3 {
          font-size: $font-size-xlarge;
          margin: 0;
        }
        span {
          font-size: $font-size-xsmall;
        }
      }
    }
  }
}
