@import "./variables.scss";

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $color-base;
}

#__next {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6.4rem auto min-content;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
