// Colors
$color-base: #ffffff;
$color-primary: #0070f3;
$color-secondary: #111111;
$color-tertiary: rgba($color-secondary, 0.88);


// Fonts
$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size: 1.6rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2rem;

// Line height
$line-height-xsmall: 1.2rem;
$line-height-small: 1.4rem;
$line-height: 1.6rem;
$line-height-large: 1.8rem;
$line-height-xlarge: 2rem;

// Spacing (Padding)
$padding-spacing-xsmall: 1.2rem;
$padding-spacing-small: 1.4rem;
$padding-spacing: 1.6rem;
$padding-spacing-large: 1.8rem;
$padding-spacing-xlarge: 2rem;

// Spacing (Margin)
$margin-spacing-xsmall: 1.2rem;
$margin-spacing-small: 1.4rem;
$margin-spacing: 1.6rem;
$margin-spacing-large: 1.8rem;
$margin-spacing-xlarge: 2rem;

